/* .card {
  margin: 0% 10% 10% 20%;
  border: 2px solid green;
  color: red;
} */

.body {
  background-color: "color";
}

.Card.Header {
  text-align: center;
}
.mix {
  display: block;
}

.left {
  float: left;
  margin-top: 10% !important;
  margin-left: 2% !important;
}
.btn {
  width: 100% !important;
}

.twitter {
  float: right;
  margin-right: 2%;
  margin-top: 10%;
}
